.cont{
    height: 500px;
    /* background: khaki; */
    display: flex;
    justify-content: center;
    padding: 10px;
}
.shipping{
    /* background: rgb(214, 92, 92); */
    width: 400px;
    padding: 20px;
}
.basket{
    /* background: salmon; */
    width: 500px;
    overflow: scroll;
    overflow-x: hidden;
    border: 1px solid transparent;
    box-shadow: 0 0 0.9px black;
}
.item{
    height: 100px;
    /* background: violet; */
    display: flex;
    padding: 5px 10px;
}
.total{
    padding: 5px 20px;
    color: red;
}
.cart{
    display: flex;
    flex-direction: column;
}